VERSION=""
DOCKER_PORT="10022"
HOST_PORT="10022"
SERVICE_NAME="autocoin-balance-monitor"
DB_PASSWORD="changeme"
DB_USERNAME="changeme"
JDBC_URL="changeme"
APP_DATA_PATH="${DATA_PATH}/${SERVICE_NAME}"
LOG_PATH="${LOGS_PATH}/${SERVICE_NAME}"
OAUTH_CLIENT_ID=balance-monitor
OAUTH_CLIENT_SECRET="changeme"
EXCHANGE_MEDIATOR_API_URL=http://localhost:9001
TELEGRAF_HOSTNAME=telegraf
